/database/seeders/ClientsTableSeeder.php
/database/seeders/EmployeesTableSeeder.php
/database/seeders/InsurancesTableSeeder.php
/database/seeders/KteosTableSeeder.php
/database/seeders/OrdersTableSeeder.php
/database/seeders/PaymentsTableSeeder.php
/database/seeders/ProductsTableSeeder.php
/database/seeders/RefuelingsTableSeeder.php
/database/seeders/ShippersTableSeeder.php
/database/seeders/SuppliersTableSeeder.php
/database/seeders/VehiclesTableSeeder.php
/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
